@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@900&family=Playfair+Display:wght@600&family=Poppins:ital,wght@1,600&display=swap');


body {
    font-family: 'Merriweather', serif;
    font-family: 'Playfair Display', serif;
    font-family: 'Poppins', sans-serif;
    background-color: #333;
}

.container {
    background-color: white;
    position: relative;
    height: 750px;
    width: 400px;
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 110px;
    border: none;
}



.title {
    position: absolute;
    top: 10px;
    left: 40px;
    font-size:  35px;
    color: #333;
}

.container input {
    padding: 0 40px;
    height: 50px;
    border: none;
    border-bottom: 1px solid #333;
    outline: none;
}

#icon-username {
    position: absolute;
    top: 75px;
    left: 90px;
    z-index: 1;
    font-size: 20px;
}

#user-name-signup {
    position: absolute;
    top: 60px;
    left: 80px;
}

#username-message {
    font-size: 12px;
    position: absolute;
    top: 120px;
    left: 80px;
    width: 250px;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
}

#icon-pwd {
    font-size: 20px;
    position: absolute;
    top: 165px;
    left: 90px;
    z-index: 1;
}

#password-message {
    font-size: 12px;
    position: absolute;
    top: 205px;
    left: 80px;
    width: 250px;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
}

#pwd-signup {
    display: no;
    position: absolute;
    top: 150px;
    left: 80px;
}

#icon-repaetPwd {
    font-size: 20px;
    position: absolute;
    top: 240px;
    left: 90px;
    z-index: 1;
}

#repeat-pwd{
    position: absolute;
    top: 230px;
    left: 80px;
}

#repeat-password-message {
    font-size: 12px;
    position: absolute;
    top: 285px;
    left: 80px;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
}

#email-html {
    position: absolute;
    top: 300px;
    left: 80px;
}

#email-icon {
    position: absolute;
    top: 310px;
    left: 90px;
    font-size: 20px;
    z-index: 1;
}

#email-message {
    font-size: 12px;
    position: absolute;
    top: 355px;
    left: 80px;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
}

.gender-check {
    position: absolute;
    top: 310px;
    left: 80px;
}

.gender-title {
    position: absolute;
    top: 80px;
    font-size: 16px;
}

#gender-message {
    font-size: 12px;
    position: absolute;
    top: 135px;
    width: 150px;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
}

#male-check-input {
    position: absolute;
    top: 90px;
    padding: 0 0;
}

#male-gender {
    position: absolute;
    left: 30px;
    top: 110px;
    font-size: 13px;
}

#female-check-input  {
    position: absolute;
    left: 100px;
    top: 90px;
    padding: 0 0;
}

#female-gender {
    position: absolute;
    top: 110px;
    left: 125px;
    font-size: 13px;
}

.birthdate-title {
    position: absolute;
    top: 490px;
    left: 80px;
}

#user-birthdate{
    position: absolute;
    top: 510px;
    width: 180px;
    left: 80px;
    font-size: 15px;
    padding: 0 0;
    width: 250px;
}

#birthdate-message {
    font-size: 12px;
    position: absolute;
    top: 570px;
    left: 80px;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
}

.terms {
    position: absolute;
    top: 600px;
    left: 110px;
    font-size: 13px;
}

.terms-highlight {
    color: #63d5f7;
    text-decoration: underline;
}

.terms-check {
    position: absolute;
    top: 580px;
    left: 80px;
}

#check-box-message {
    font-size: 12px;
    position: absolute;
    top: 620px;
    left: 80px;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
}

.already-have-user {
    position: absolute;
    top: 650px;
    left: 80px;
    font-size: 11px;
    color: #63d5f7;
}

.container button {
    font-family: 'Merriweather', serif;
    font-family: 'Playfair Display', serif;
    font-family: 'Poppins', sans-serif;
    background-color: #333;
    color: white;
    border-radius: 35px;
    padding: 10px 50px;
    position: absolute;
    font-size: 20px;
    top: 680px;
    left: 115px;
}




@media screen and (min-device-width : 280px) and (max-device-width : 655px) { /* Mobiles phone sizes */
    .container {
        width: 95%;
    }

}

@media screen and (width: 360px) and (height:740px) { /* specifc galaxy */
    .container input {
        padding: 0 20px;
        height: 50px;
        border: none;
        border-bottom: 1px solid #333;
        outline: none;
    }

    #icon-username {
        position: absolute;
        top: 90px;
        left: 75px;
        z-index: 1;
        font-size: 20px;
    }

    #icon-pwd {
        font-size: 20px;
        position: absolute;
        top: 160px;
        left: 75px;
        z-index: 1;
    }

    #icon-repaetPwd {
        font-size: 20px;
        position: absolute;
        top: 240px;
        left: 75px;
        z-index: 1;
    }

    #email-icon {
        position: absolute;
        top: 310px;
        left: 75px;
        font-size: 20px;
        z-index: 1;
    }

}

@media only screen and (min-device-width: 1200px) 

and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 1) { /* Laptop devices sizes */
    
    .container {
        margin-top: 5px;
    }
}